@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

$font-family-sans-serif:"Public Sans", sans-serif;
$body-bg:#f4f7fa;
$shadow-sm:0px 8px 24px rgba(27, 46, 94, 0.12);

html{
    font-size: 14px
}

