@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

$font-family-sans-serif:"Public Sans", sans-serif;
$body-bg:#f4f7fa;


html{
    font-size: 14px
}

